*{
    margin: 0; padding: 0;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

.about-us-header{
    margin-top: 80px;
    position: relative;
    width: 100%;
    height: 626px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/about-us/header.jpg);
    background-position: center;
    background-size: cover;
}

.header-text{
    color: white;
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header-text h1{
    font-family: 'Lalezar', cursive;
    font-size: 100px;
    font-weight: 400;
    letter-spacing: 8px;
    line-height: 80px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.header-text p{
    font-size: 60px;
    font-weight: 500;
    letter-spacing: 2px;
}

.container{
    margin: 80px auto;
    width: 84%;
    max-width: 1200px;
}

.container h1{
    padding-bottom: 40px;
    font-size: 30px;
    font-weight: 700;
    text-align: left;
    letter-spacing: 1px;
}

.goals{
    text-align: center;
    font-size: 32px;
    
}

.mission{
    position: relative;
    width: 100%;
    height: 350px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../assets/about-us/mission-bg.jpeg);
    background-position: center;
    background-size: cover; 
}

.mission h1{
    color: white;
    padding-top: 15px;
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.about-tanaka{
    text-align: center;
}

.about-tanaka h1{
    padding-bottom: 0;
}

.about-tanaka p{
    font-size: 18px;
    font-weight: 500;
    text-align: justify;
    letter-spacing: 0.02em;
    color: rgba(0, 0, 0, 0.8);
}

.about-tanaka h2{
    color: #EA7B14;
    letter-spacing: 0.02em;
    font-size: 26px;
}

.our-story, .expect, .why-tanaka{
    padding: 40px 0;
}

.our-story, .expect{
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
}

.why-tanaka{
    padding-bottom: 20px;
}

.our-story h2, .why-tanaka h2{
    text-align: left;
}

.expect h2{
    text-align: right;
}

.why-tanaka h2{
    margin-bottom: 40px;
}

.story-row{
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
}

.story-row img{
    width: 30%; height: 30%;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
}
.our-story p{
    text-align: justify;
    justify-content: center;
    
}

.expect img{
    width: 100%;
    height: 100%;
    padding: 40px 0;
}

.about-tanaka h1{
    text-align: center;
}
.about-tanaka a button{
    width: 100px;
    height: 35px;
    background-color: transparent;
    color: #EA7B14;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 15px;
    border-radius: 30px;
    border: 2px solid #EA7B14;
    transition: all 300ms ease-out 0s;
}

.about-tanaka a button:hover{
    cursor: pointer;
    background-color: #EA7B14;
    color: white;
}

@media (max-width: 1000px) {
    .about-us-header{
        margin-top: 70px;
    }
}

@media(max-width: 850px){
    .container h1{
        font-size: 28px;
    }
    
    .container h2{
        font-size: 24px;
    }
    .mission{
        height: 350px;
    }

    .mission h1{
        font-size: 35px;
    }
    .header-text h1{
        font-family: 'Lalezar', cursive;
        font-size: 70px;
        letter-spacing: 1px;
    }
    .header-text p{
        font-size: 40px;
    }
    .our-story p, .why-tanaka p, .expect p{
        font-size: 15px;
    }
    .about-us-header{
        position: relative;
        width: 100%;
        height: 380px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/about-us/header.jpg);
        background-position: center;
        background-size: cover;
    }
    .about-tanaka a button{
        transform: scale(0.9);
    }
}

@media (max-width: 550px){
    .container h1{
        font-size: 24px;
    }

    .story-row{
        display: block;
        margin-bottom: 10px;
    }

    .story-row img{
        width: 60%;
        margin-bottom: 20px;
    }
}

@media (max-width: 450px) {
    .container{
        margin: 60px auto;
    }

    .container h1{
        padding-bottom: 30px;
    }

    .container h2{
        font-size: 20px;
    }

    .our-story p, .why-tanaka p, .expect p{
        font-size: 12px;
    }

    .why-tanaka h2{
        margin-bottom: 20px;
    }

    .expect img{
        padding: 20px 0;
    }

    .story-row{
        margin: 20px 0;
    }

    .our-story, .expect, .why-tanaka {
        padding: 20px 0;
    }

    .our-story{
        padding-top: 0;
    }

    .why-tanaka{
        padding-bottom: 0;
    }

    .story-row img{
        width: 70%;
        margin-bottom: 10px;
    }

    .mission{
        height: 300px;
    }
    
    .mission h1{
        font-size: 30px;
    }
    .header-text h1{
        font-family: 'Lalezar', cursive;
        font-size: 70px;
        letter-spacing: 1px;
    }
    .header-text p{
        font-size:40px;
    }
    .about-tanaka a button{
        transform: scale(0.9);
    }
}