*{
    margin: 0; padding: 0;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

.contact-us-header{
    margin-top: 80px;
    position: relative;
    width: 100%;
    height: 626px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/contact-us/page-header.jpg);
    background-position: center;
    background-size: cover;
}

.header-text{
    color: white;
    position: absolute;
    width: 100%;
    height: 160px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header-text h1{
    font-family: 'Lalezar', cursive;
    font-size: 100px;
    font-weight: 400;
    letter-spacing: 0.02em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.header-text p{
    font-size: 60px;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.container{
    margin: 80px auto;
    width: 84%;
    max-width: 1200px;
}

.container h1{
    padding-bottom: 40px;
    font-size: 32px;
    font-weight: 700;
    text-align: left;
    letter-spacing: 0.5px;
}

.map{
    width: 100%;
}

.map iframe{
    width: 100%;
}

.social-row{
    margin-top: 20px;
    display: flex;
}

.social-row a img{
    width: 50px; 
    height: 50px;
    margin-right: 20px;
}

.social-row a img:hover{
    transform: scale(1.03);
}

.click button{
    margin-top: 30px;
    width: 150px;
    height: 40px;
    background-color: transparent;
    color: #EA7B14;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 15px;
    border-radius: 30px;
    border: 2px solid #EA7B14;
    transition: all 300ms ease-out 0s;
}

.click button:hover{
    cursor: pointer;
    background-color: #EA7B14;
    color: white;
}

.contact-col img{
    width: 35px;
    height: 35px;
}

.contact-col h5{
    font-size: 24px;
    margin: 5px 0;
    color: #EA7B14;
    font-weight: 700;
}

.contact-col{
    flex-basis: 40%;
    padding-bottom: 10px;
}

.contact-col:nth-of-type(2){
    flex-basis: 60%;
}

.contact-col p{
    font-size: 18px;
    font-weight: 600;
    color: rgba(127, 127, 127, 1);
    margin-bottom: 35px;
}

.row{
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.contact-col input, .contact-col textarea{
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    border-radius: 20px;
    border: 0.5px solid #792E00;
    color: black;
    width: 100%;
    margin-top: 20px;
}

.color-red{
    color: red;
    font-size: 12px;
    margin: 5px 0 0 20px;
}

.contact-col input{
    height: 50px;
    padding-left: 30px;
}

.contact-col textarea{
    height: 195px;
    padding-top: 20px;
    padding-left: 30px;
}


::placeholder{
    color: rgba(0, 0, 0, 0.4);
    font-weight: 400;
}

#errorUser, #errorPhone, #errorEmail, #errorSubject, #errorMessage{
    margin-top: 5px;
}

.store-box{
    position: relative;
}

.store{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 60px;
    gap: 60px;
}

.store img{
    position: absolute;
    top: 0;
    width: 360px;
    height: 250px;
}

.layer{
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 360px;
    height: 250px;
    background: transparent;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    transition: all 0.5s ease-out;
}

.layer h3{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 360px;
    transform: translate(-50%, -50%);
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 2px;
    transition: all 0.5s ease-out;
}

.layer p{
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    opacity: 0;
}

.layer p:nth-child(2):not(.phone p){
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    top: 75px;
}

.layer .phone{
    position: absolute;
    align-items: center;
    top: 168px;
    left: 50%;
    transform: translateX(-50%);
    width: 45%;
    height: 18px;
    display: flex;
    opacity: 0;
}

.layer .phone img{
    width: 11%; height: 100%;
}

.layer .phone p{
    margin-left: 15%;
}

.layer a{
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 14px;
    font-weight: 400;
    opacity: 0;
}

.store-box:hover .layer{
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
}

.store-box:hover h3{
    top: 15%;
    font-size: 25px;
}

.store-box:hover a{
    bottom: 10%;
}

.layer a:hover{
    border-bottom: 1px solid white;
}

.store-box:hover p, .store-box:hover a, .store-box:hover .phone{
    opacity: 1;
}

@media (max-width: 1000px) {
    .contact-us-header{
        height: 600px;
    }
    .contact-us-header{
        margin-top: 70px;
    }
}

@media(max-width: 800px){
    .container h1{
        font-size: 28px;
    }

    .contact-us-header{
        margin-top: 65.5px;
        height: 380px;
    }
    .header-text h1{
        font-family: 'Lalezar', cursive;
        font-size: 80px;
        line-height: 100%;
    }
    .header-text p{
        font-size:40px;
    }
    .store{
        gap: 40px;
    }
    .row{
        flex-direction: column;
    }
    .contact-col{
        margin-top: 30px;
    }
    .contact-col h5, .contact-col p{
       transform: translateX(60px);
    }
    .contact-col h5{
        font-size: 20px;
    }
    .contact-col p{
        font-size: 16px;
    }
    .contact-col img{
        position: absolute;
        transform: translateY(10px);
        width: 35px;
        height: 35px;
    }
    .social-row img{
        position: relative;
        transform: translateX(70px);
    }
    .contact-col input, .contact-col textarea{
        width: 100%;
    }
}

@media (max-width: 1420px) {
    .store{
        gap: 40px;
    }
}

@media (max-width: 1200px) {
    .contact-col:nth-of-type(2) {
        flex-basis: 50%;
    }
}

@media (max-width: 1100px) {
    .header-text p{
        font-size: 40px;
    }
    .contact-col:nth-of-type(1) {
        flex-basis: 30%;
    }
}

@media (max-width: 550px){
    .container h1{
        font-size: 24px;
    }
}

@media (max-width: 420px) {
    .container{
        margin: 60px auto;
    }

    .container h1{
        padding-bottom: 30px;
    }
}