*{
    margin: 0; padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}

.about-header{
    margin-top: 83px;
    position: relative;
    width: 100%;
    height: 626px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/contact-us/page-header.jpg);
    background-position: center;
    background-size: cover;
}

.header-text{
    color: white;
    position: absolute;
    width: 870px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header-text h1{
    font-family: 'Lalezar', cursive;
    font-size: 100px;
    font-weight: 400;
    letter-spacing: 8px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-text p{
    font-size: 60px;
    font-weight: 500;
    letter-spacing: 2px;
}

.goals{
    text-align: center;
    font-size: 32px;
}

.map{
    width: 100%;
    margin: auto;
}
.map iframe{
    width: 100%;
}

.aboutTanaka h1{
    text-align: center;
}

.aboutTanaka h2{
    color: #EA7B14;
    letter-spacing: 0.02em;
}

.our-story h2{
    text-align: left;
    font-size: 26px;
}
.why-story h2{
    text-align: right;
    font-size: 26px;
}

.aboutTanaka-text p{
    color: rgba(0, 0, 0, 0.8);
    font-weight: 500;
    font-size: 18;
    text-align: justify;
}

.social-row{
    margin-top: 10px;
    display: flex;
}

.social-row a img{
    width: 30px; 
    height: 30px;
    margin-right: 20px;
}
.container{
    margin: 80px 120px;
}
.expect{
    position: relative;
    width: 1280px;
    height: 456px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../assets/about-us/Rectangle\ 41.png);
    background-position: center;
    background-size: cover; 
}

.click a button{
    margin-top: 10px;
    width: 150px;
    height: 40px;
    background-color: transparent;
    color: #EA7B14;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 15px;
    border-radius: 30px;
    border: 3px solid #EA7B14;
    transition: all 300ms ease-out 0s;
}

.click a button:hover{
    cursor: pointer;
    background-color: #EA7B14;
    color: white;
}

.contact-col input, .contact-col textarea{
width: 100%;
padding: 15px;
margin-bottom: 17px;
outline: none;
border: 1px solid #ccc;
box-sizing: border-box;
}
.icons img{
    width: 2%;
}
.contact-col img{
    width: 10%;
}
.contact-us{
    width: 80%;
    margin: auto;
}
.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact-col div p{
    padding: 0;
}
.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #EA7B14;
    font-weight: 400;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.contact-col input,textarea{
    border-radius: 20px;
    border-color: #792E00;
}
::placeholder{
    font-family: 'Montserrat', sans-serif;
}