*{
    margin: 0; padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}

.about-header{
    margin-top: 83px;
    position: relative;
    width: 100%;
    height: 626px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/contact-us/page-header.jpg);
    background-position: center;
    background-size: cover;
}

.header-text{
    color: white;
    position: absolute;
    width: 1100px;
    height: 160px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header-text h1{
    font-family: 'Lalezar', cursive;
    font-size: 100px;
    font-weight: 400;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-text p{
    font-size: 60px;
    font-weight: 500;
    letter-spacing: 2px;
}

.map{
    width: 100%;
    margin: auto;
}

.map iframe{
    width: 100%;
}

.social-row{
    margin-top: 20px;
    display: flex;
}

.social-row a img{
    width: 50px; 
    height: 50px;
    margin-right: 20px;
}

.container{
    margin: 80px 120px;
}

.container h1{
    padding-bottom: 40px;
    font-size: 32px;
    font-weight: 700;
    text-align: left;
    letter-spacing: 0.5px;
}

.click a button{
    margin-top: 10px;
    width: 150px;
    height: 40px;
    background-color: transparent;
    color: #EA7B14;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 15px;
    border-radius: 30px;
    border: 2px solid #EA7B14;
    transition: all 300ms ease-out 0s;
}

.click a button:hover{
    cursor: pointer;
    background-color: #EA7B14;
    color: white;
}

.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.contact-col img{
    width: 35px;
    height: 35px;
}

.contact-col{
    flex-basis: 48%;
}

.contact-col p{
    font-size: 18px;
    font-weight: 600;
    color: rgba(127, 127, 127, 1);
    margin-bottom: 35px;
}

.contact-col h5{
    font-size: 24px;
    margin: 5px 0;
    color: #EA7B14;
    font-weight: 700;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.contact-col input{
    height: 50px;
}

.contact-col textarea{
    height: 195px;
    padding-top: 20px;
}


.contact-col input, .contact-col textarea{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    border-radius: 20px;
    border: 0.5px solid #792E00;
    color: black;
    padding-left: 40px;
    width: 700px;
}

::placeholder{
    color: rgba(0, 0, 0, 0.4);
    font-weight: 400;
}