.subscribe{
    width: 100%;
    height: 450px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../assets/footer/subscribe-bg.png);
    background-color: rgb(121, 46, 0);
    background-size: cover;
}

.subscribe-form{
    height: 382px;
    transform: translateY(30px);
    margin: 30px;
    border: 4px solid white;
}

.subscribe-form h2{
    margin: 40px 90px;
    color: white;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 0.02em;
    margin-bottom: 40px;
}

.subscribe-form input{
    margin: 0 90px;
    outline: none;
    width: 48%;
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: black;
    border-radius: 20px;
    border: 0.5px solid #792E00;
    padding-left: 40px;
}

::placeholder{
    color: rgba(0, 0, 0, 0.4);
    font-weight: 400;
}

#subscribe-btn{
    padding: 0;
    width: 185px;
    height: 50px;
    border: 2px solid rgb(234, 123, 20);
    border-radius: 30px;
    background-color: transparent;
    color: rgb(234, 123, 20);
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 700;
    transition: all 300ms ease-out 0s;
}

#subscribe-btn:hover{
    color: white;
    background-color: rgb(234, 123, 20);
    cursor: pointer;
}


#name-error-message, #email-error-message{
    margin: 5px 0 35px 100px;
    color: white;
    font-size: 12px;
}

.footer-container{
    transform: translateY(30px);
    padding: 50px 120px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.25);
}

.first-col, .second-col{
    text-align: left;
}

.third-col{
    text-align: right;
}

.footer-container h1{
    font-size: 20px;
    font-weight: 600;
    color: rgba(121, 46, 0, 1);
}

.footer-container li{
    list-style: none;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 300px;
}

.footer-container li a{
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
}

.footer-container li a:hover{
    color: rgb(234, 123, 20);
}

.third-col h2{
    margin: 30px 0;
    color: rgb(234, 123, 20);
    font-size: 25px;
    font-weight: 700;
}

.third-col p{
    font-size: 18;
    font-weight: 300;
}

.social-media{
    margin: 39px 0 20px 0;
}

.social-media h1{
    margin-bottom: 20px;
}

.social-img{
    transform: translateX(45px);
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.social-img a img{
    width: 31px; height: 31px;
}

.social-img a img:hover{
    transform: scale(1.03);
}

.credit{
    text-align: center;
    transform: translateY(30px);
    padding: 30px 0;
    font-size: 18px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7);
}