.subscribe{
    width: 100%;
    height: 450px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../assets/footer/subscribe-bg.png);
    background-color: rgb(121, 46, 0);
    background-size: cover;
}

.subscribe-form{
    position: relative;
    text-align: center;
    height: 382px;
    transform: translateY(30px);
    margin: 30px;
    border: 4px solid white;
}

.subscribe-form form{
    width: 100%;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

.subscribe-form form h2{
    color: white;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 0.02em;
}

.subscribe-form form input{
    outline: none;
    margin-top: 30px;
    width: 60%;
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: black;
    border-radius: 20px;
    border: 0.5px solid #792E00;
    padding-left: 40px;
}

::placeholder{
    color: rgba(0, 0, 0, 0.4);
    font-weight: 400;
}

#subscribe-btn{
    margin-top: 40px;
    width: 13%;
    height: 50px;
    border: 2px solid rgb(234, 123, 20);
    border-radius: 30px;
    background-color: transparent;
    color: rgb(234, 123, 20);
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 700;
    transition: all 300ms ease-out 0s;
}

#subscribe-btn:hover{
    color: white;
    background-color: rgb(234, 123, 20);
    cursor: pointer;
}


#name-error-message, #email-error-message{
    margin-top: 5px;
    color: rgb(255, 196, 196);
    font-size: 12px;
}

.footer-container{
    width: 84%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.first-col, .second-col{
    text-align: left;
}

.third-col{
    text-align: right;
}

.footer-container h1{
    font-size: 20px;
    font-weight: 600;
    color: rgba(121, 46, 0, 1);
}

.footer-container li{
    list-style: none;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 300px;
}

.footer-container li a{
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
}

.footer-container li a:hover{
    color: rgb(234, 123, 20);
}

.third-col h2{
    margin: 30px 0;
    color: rgb(234, 123, 20);
    font-size: 25px;
    font-weight: 700;
}

.third-col p{
    color: black;
    font-size: 18px;
    font-weight: 300;
}

.social-media{
    margin: 39px 0 20px 0;
}

.social-media h1{
    margin-bottom: 20px;
}

.social-img{
    transform: translateX(45px);
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.social-img a img{
    width: 31px; height: 31px;
}

.social-img a img:hover{
    transform: scale(1.03);
}

.credit{
    border-top: 0.5px solid rgba(0, 0, 0, 0.25);
    text-align: center;
    padding: 40px 0;
    font-size: 15px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 1024px) {
    .subscribe-form form input{
        width: 65%;
        height: 45px;
        margin-top: 25px;
    }

    #subscribe-btn{
        font-size: 18px;
        height: 45px;
        width: 15%;
    }
    
    .subscribe{
        height: 400px;
    }

    .subscribe-form{
        height: 340px;
    }
}

@media (max-width: 880px) {
    .subscribe-form form input{
        width: 68%;
    }

    #subscribe-btn{
        width: 17%;
    }
}

@media (max-width: 800px) {
    .subscribe{
        height: 300px;
    }

    .subscribe-form{
        transform: translateY(20px);
        margin: 20px;
        height: 260px;
    }

    .subscribe-form form h2{
        font-size: 23px;
    }
    
    .subscribe-form form input{
        width: 80%;
        margin-top: 20px;
        height: 40px;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        padding-left: 32px;
    }

    #subscribe-btn{
        margin-top: 20px;
        font-size: 16px;
        height: 36px;
    }

    #name-error-message, #email-error-message{
        margin-top: 2px;
        font-size: 10px;
    }

    .footer-container h1{
        font-size: 18px;
    }
    
    .footer-container li{
        font-size: 14px;
    }
    
    .third-col h2{
        margin: 25px 0;
        font-size: 21px;
    }
    
    .third-col p{
        font-size: 15px;
    }
    
    .social-img{
        transform: translateX(45px);
        display: flex;
        justify-content: space-between;
        width: 80%;
    }
    
    .social-img a img{
        width: 25px; height: 25px;
    }
    
    .social-img a img:hover{
        transform: scale(1.02);
    }
    
    .credit{
        font-size: 14px;
    }
}

@media (max-width: 650px) {
    .subscribe-form form h2{
       font-size: 20px;
    }

    .subscribe-form form input{
        width: 85%;
    }

    #subscribe-btn{
        width: 20%;
    }
}

@media (max-width: 550px) {
    #subscribe-btn{
        width: 25%;
    }

    .footer-container{
        display: block;
    }

    .footer-container ul{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 10px;
    }

    .first-col, .second-col, .third-col{
        text-align: center;
    }

    .first-col{
        padding-bottom: 15px;
    }

    .second-col ul{
        justify-content: center;
        gap: 10px 80px;
    }

    .second-col{
        padding: 15px;
    }
    
    .third-col{
        padding-top: 15px;
    }

    .first-col, .second-col{
        border-bottom: 0.5px solid rgba(0, 0, 0, 0.25);
    }

    .social-media{
        margin-top: 15px;
        padding-top: 15px;
        border-top: 0.5px solid rgba(0, 0, 0, 0.25);
    }

    .social-img{
        justify-content: space-around;
    }

    .social-img img{
        width: 30px; height: 30px
    }
}

@media (max-width: 500px) {
    .subscribe-form form input{
        font-size: 13px;
        padding-left: 20px;
    }

    ::placeholder{
        font-size: 12px;
    }

    #subscribe-btn{
        width: 30%;
        height: 30px;
        font-size: 14px;
    }

    .second-col ul{
        gap: 10px 50px;
    }
}

@media (max-width: 420px) {
    .subscribe-form form h2{
        font-size: 15px;
    }

    ::placeholder{
        font-size: 11px;
    }

    .footer-container li{
        font-size: 13px;
    }

    .credit{
        font-size: 12px;
    }

    .social-img{
        transform: translateX(20px);
    }
}

@media (max-width: 300px) {
    #subscribe-btn{
        width: 40%;
    }
}