.subscribe{
    position: relative;
    width: 100%;
    height: 450px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../assets/footer/subscribe-bg.png);
    background-color: rgb(121, 46, 0);
    background-size: cover;
}

.subscribe::before{
    content: "";
    position: absolute;
    top: 30px;
    left: 30px;
    width: 1375px;
    height: 390px;
    border: 4px solid white;
}

.subscribe-form{
    margin: 50px 120px;
    z-index: 2;
}

.subscribe-form h2{
    color: white;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 0.02em;
    margin-bottom: 40px;
}

/* .subscribe-form input{
    outline: none;
    width: 700px;
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: black;
    border-radius: 20px;
    border: 0.5px solid #792E00;
    padding-left: 40px;
} */

#name{
    margin-bottom: 20px;
}

::placeholder{
    color: rgba(0, 0, 0, 0.4);
    font-weight: 400;
}

#subscribe-btn{
    margin-top: 50px;
    padding: 0;
    width: 185px;
    height: 50px;
    border: 2px solid rgb(234, 123, 20);
    border-radius: 30px;
    background-color: transparent;
    color: rgb(234, 123, 20);
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 700;
    transition: all 300ms ease-out 0s;
}

#subscribe-btn:hover{
    color: white;
    background-color: rgb(234, 123, 20);
    cursor: pointer;
}