*{
    margin: 0; padding: 0;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    cursor: pointer;
}

.container{
    margin: 80px auto;
    width: 84%;
    max-width: 1200px;
}

.container h1{
    padding-bottom: 40px;
    font-size: 30px;
    font-weight: 700;
    text-align: left;
    letter-spacing: 1px;
}

.gallery-header{
    margin-top: 80px;
    position: relative;
    width: 100%;
}

.slide{
    display: none;
    transition: 300ms ease-out 0s;
}

.slide img{
    width: 100%;
}

.prev-btn, .next-btn{
    cursor: pointer;
    position: absolute;
    top: 50%;
}

.prev-btn{
    left: 35px;
}

.prev-btn img{
    transform: rotate(180);
}

.next-btn{
    right: 35px;
}

.prev-btn img, .next-btn img{
    width: 40px; height: 40px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    transition: all 300ms ease-out 0s;
}

.prev-btn:hover img, .next-btn:hover img{
    background: white;
}

/* -- Category Bar */
.category-bar{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.category-bar h1{
    font-size: 25px;
    font-weight: 500;
    padding: 0;
}

.categories{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px 30px;
}

.category{
    padding-top: 5px;
    text-align: center;
    width: 13%;
    border: 0.5px solid rgb(121, 46, 0);
    border-radius: 20px;
    background: rgb(253, 249, 243);
    transition: all 300ms ease-out 0s;
    color: rgb(121, 46, 0);
    font-size: 15px;
    font-weight: 500;
}

.category:hover{
    background: rgb(121, 46, 0);
    color: rgb(253, 249, 243);
}

/* -- Guitars -- */
.row-guitar-gallery{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 60px;
}

.col-guitar-gallery{
    position: relative;
    width: 250px;
    height: 400px;
    background: rgba(253, 249, 243, 1);
    border: 1px solid rgba(121, 46, 0, 0.8);
    border-radius: 10px;
    transition: all 200ms ease-out;
}

.col-guitar-gallery:hover{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.col-guitar-gallery img{
    height: 62.5%;
    width: 60%;
}

#silent-guitar .row-guitar-gallery{
    justify-content: flex-start;
}

#silent-guitar .col-guitar-gallery{
    margin-right: 60px;
}

.guitar-gallery-text{
    margin: 15px 0 20px 0;
    text-align: center;
}

.guitar-name{
    font-size: 15px;
    font-weight: 500;
    color: rgb(121, 46, 0);
}

.colors{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
    font-size: 10px;
    color: rgb(121, 46, 0);
}

.color-circle{
    margin-left: 10px;
    width: 16px; height: 16px;
    border-radius: 50%;
    border: 0.5px solid #000000;
}

.stock{
    font-size: 10px;
    font-weight: 600;
    color: rgb(55, 143, 1);
    margin-bottom: 8.5px;
}

.stock-no-disc{
    font-size: 10px;
    font-weight: 600;
    color: rgb(55, 143, 1);
    font-size: 13px;
}

.price-before-disc{
    text-decoration-line: line-through;
    font-size: 12px;
}

.price{
    color: #EA7B14;
    font-size: 16px;
    font-weight: 500;
}

.price-no-disc{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #EA7B14;
    font-size: 18px;
    font-weight: 500;
}

.add-to-cart{
    position: absolute;
    top: -8px;
    right: -8px;
    width: 40px; height: 40px;
    border-radius: 50%;
    border: 2px solid rgb(74, 181, 9);
    background: rgb(74, 181, 9);
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    color: white;
    transition: all 300ms ease-out 0s;
}

.add-to-cart p{
    position: absolute;
    top: -4.5px;
    right: 7.5px;
}

.add-to-cart:hover{
    color: rgb(74, 181, 9);
    border: 2px solid rgb(74, 181, 9);
    background: white;
}

.discount{
    position: absolute;
    top: 12%;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 20px;
    border-radius: 20px 0 0 20px;
    background: rgb(255, 0, 0);
}

.discount p{
    color: white;
    font-weight: 600;
}

.discount p:nth-child(1){
    font-size: 12px;
    margin-right: 3px;
}

.discount p:nth-child(2){
    font-size: 8px;
}

.best-seller-icon{
    position: absolute;
    top: -15px;
    left: -15px;
}

.best-seller-icon img{
    width: 50px; height: 50px;
}


@media (max-width: 1300px) {
    .row-guitar-gallery{
        justify-content: center;
        gap: 60px;
    }
}

@media (max-width: 1000px) {
    .gallery-header{
        margin-top: 70px;
    }
}

@media (max-width: 1030px) {
    .row-guitar-gallery{
        gap: 40px;
    }
}

@media (max-width: 970px) {
    .row-guitar-gallery{
        gap: 60px;
    }
}

@media (max-width: 880px) {
    .row-categories{
        justify-content: center;
    }
}

@media (max-width: 800px) {
    .container h1{
        font-size: 28px;
    }

    .row-guitar-gallery{
        gap: 40px;
    }
}

@media (max-width: 650px) {
    .row-guitar-gallery{
        gap: 40px 20px;
    }
}

@media (max-width: 550px){
    .container h1{
        font-size: 24px;
    }

    .best-sellers h1{
        padding-bottom: 30px;
    }

    .row-guitar-gallery{
        gap: 0;
    }

    .col-guitar-gallery{
        transform: scale(0.9);
    }

    .best-sellers a button{
        margin-top: 50px;
        transform: scale(1.1);
    }
}

@media (max-width: 420px) {
    .container{
        margin: 60px auto;
    }

    .container h1{
        padding-bottom: 30px;
    }
}

@media (max-width: 300px) {
    .col-guitar-gallery{
        transform: scale(0.9);
    }
}