*{
    margin: 0; padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
    cursor: pointer;
}

/* -- Home Header -- */
.home-header{
    margin-top: 83px;
    position: relative;
    width: 100%;
    height: 626px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/home/home-header.jpg);
    background-position: center;
    background-size: cover;
}

.header-text{
    color: white;
    position: absolute;
    width: 60.5%;
    height: 413px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header-text h1{
    font-family: 'Lalezar', cursive;
    font-weight: 400;
    font-size: 70px;
    letter-spacing: 5px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-text p{
    margin-top: 10px;
    font-size: 22px;
}

.header-text a button{
    margin-top: 75px;
    width: 227px;
    height: 54px;
    background-color: transparent;
    color: #EA7B14;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 25px;
    border-radius: 30px;
    border: 3px solid #EA7B14;
    transition: all 300ms ease-out 0s;
}

.header-text a button:hover{
    cursor: pointer;
    background-color: #EA7B14;
    color: white;
}

.container{
    margin: 80px 120px;
    max-width: 1200px;
}

.container h1{
    padding-bottom: 40px;
    font-size: 32px;
    font-weight: 700;
    text-align: left;
    letter-spacing: 0.5px;
}

/* -- Best Sellers Section -- */
.best-sellers{
    text-align: center;
}

/* -- Best Seller Row -- */
.row-best-sellers{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
}

@media(max-width: 800px){
    .row-best-sellers{
        grid-template-columns: auto auto;
        gap: 10px;
        justify-content: space-evenly;
    }
}

.best-sellers .row-best-sellers:nth-child(3){
    margin-top: 60px;
}

/* -- Best Seller Catalogue -- */
.col-best-sellers{
    position: relative;
    width: 250px;
    height: 400px;
    background: rgba(253, 249, 243, 1);
    border: 1px solid rgba(121, 46, 0, 0.8);
    border-radius: 10px;
    transition: all 200ms ease-out;
}

.col-best-sellers:hover{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.col-best-sellers img{
    height: 62.5%;
    width: 60%;
}

.best-sellers-text{
    margin: 15px 0 20px 0;
    text-align: center;
}

.guitar-name{
    font-size: 15px;
    font-weight: 500;
    color: rgb(121, 46, 0);
}

.colors{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
    font-size: 10px;
    color: rgb(121, 46, 0);
}

.color-circle{
    margin-left: 10px;
    width: 16px; height: 16px;
    border-radius: 50%;
    border: 0.5px solid #000000;
}

.stock{
    font-size: 10px;
    font-weight: 600;
    color: rgb(55, 143, 1);
    margin-bottom: 8.5px;
}

.stock-no-disc{
    font-size: 10px;
    font-weight: 600;
    color: rgb(55, 143, 1);
    font-size: 13px;
}

.price-before-disc{
    text-decoration-line: line-through;
    font-size: 12px;
}

.price{
    color: #EA7B14;
    font-size: 16px;
    font-weight: 500;
}

.price-no-disc{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #EA7B14;
    font-size: 18px;
    font-weight: 500;
}

/* -- Discount Circle -- */
.discount{
    position: absolute;
    top: -8px;
    right: -8px;
    width: 40px; height: 40px;
    border-radius: 50%;
    background: rgba(255, 0, 0, 1);
    color: white;
    text-align: center;
}

.discount .percentage{
    padding: 8px;
}

.discount p{
    font-weight: 600;
}

.discount p:nth-child(1){
    font-size: 12px;
}

.discount p:nth-child(2){
    font-size: 8px;
}

/* -- Button See All Collections -- */
.best-sellers a button{
    margin-top: 60px;
    width: 172px;
    height: 37px;
    background-color: transparent;
    color: #EA7B14;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 15px;
    border-radius: 30px;
    border: 2px solid #EA7B14;
    transition: all 300ms ease-out 0s;
}

.best-sellers a button:hover{
    cursor: pointer;
    background-color: #EA7B14;
    color: white;
}

/* -- What's On Section -- */
.slider-whats-on{
    position: relative;
    max-width: 1200px;
}

.slide{
    display: none;
    transition: 300ms ease-out 0s;
}

.slide img{
    border: 0.5px solid rgb(121, 46, 0);
    border-radius: 20px;
}

.fade{
    animation-name: fade;
    animation-timing-function: ease-out;
    animation-duration: 500ms;
}

@keyframes fade {
    from{opacity: 0;}
    from{opacity: 1;}
}
.indicator{
    display: flex;
    margin-top: 25px;
    justify-content: center;
}

.indicator-circle{
    width: 15px; height: 15px;
    border-radius: 50%;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    background: rgba(217, 217, 217, 0.5);
    margin: 0 20px;
}

.indicator .active{
    background: rgb(121, 46, 0);
}

.prev-btn, .next-btn{
    cursor: pointer;
    position: absolute;
    top: 50%;
}

.prev-btn{
    left: 35px;
}

.prev-btn img{
    transform: rotate(180);
}

.next-btn{
    right: 35px;
}

.prev-btn img, .next-btn img{
    width: 40px; height: 40px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    transition: all 300ms ease-out 0s;
}

.prev-btn:hover img, .next-btn:hover img{
    background: white;
}

/* -- Categories Section -- */
#categories h1{
    text-align: right;
}

/* -- Categories Row -- */
.row-categories{
    display: flex;
    justify-content: space-between;
}

#categories .row-categories:nth-child(3){
    margin-top: 35px;
}

/* -- Guitar Categories -- */
.col-categories{
    width: 365px; height: 350px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.col-categories h2{
    position: absolute;
    top: 50%;
    left: 28px;
    color: rgb(121, 46, 0);
    font-size: 28px;
    font-weight: 600;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    width: 185px;
    transition: all 300ms ease-out 0s;
}

.categories-rectangle{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 365px;
    height: 260px;
    background: rgb(253, 249, 243);
    border-radius: 10px;
    border: 1px solid rgb(121, 46, 0);
    z-index: -1;
    transition: all 300ms ease-out 0s;
}

.col-categories img{
    position: absolute;
    top: 0;
    right: -20px;
    width: 196px;
    height: 335px;
}

.col-categories p{
    position: absolute;
    top: 230px;
    left: 28px;
    width: 162px;
    opacity: 0;
    color: rgb(234, 123, 20);
    font-weight: 500;
    font-size: 15px;
    transition: all 300ms ease-out 0s;
}

.col-categories:hover h2{
    font-size: 25px;
    width: 200px;
    top: 120px;
}

.col-categories:hover p{
    opacity: 1;
    top: 165px;
}

.col-categories:hover .categories-rectangle{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

/* -- Brands Section -- */
/* -- Brands Row -- */
.row-brands{
    display: flex;
    justify-content: space-between;
}

.brands .row-brands:nth-child(3){
    margin-top: 40px;
}

/* -- Brands Circle -- */
.col-brands{
    padding: 53px 18px;
    width: 184px;
    height: 111px;
    background: rgb(255, 225, 119);
    border-radius: 50%;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

.col-brands img{
    width: 100%;
}

.col-brands a{
    opacity: 0;
    text-decoration: none;
    color: rgb(121, 46, 0);
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.3px;
    transition: all 300ms ease-out 0s;
}

.col-brands:hover img{
    width: 98%;
}

.col-brands:hover a{
    opacity: 1;
}