*{
    margin: 0; padding: 0;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

.member-header{
    margin-top: 80px;
    position: relative;
    width: 100%;
    height: 626px;
    background-image: url(../assets/member/image_2022-06-11_18-15-36.png);
    background-position: center;
    background-size: cover;
}

.header-text{
    color: white;
    position: absolute;
    width: 55%;
    top: 50%;
    left: 69%;
    transform: translate(-50%, -50%);
    text-align: right;
}

.header-text h1{
    font-family: 'Lalezar', cursive;
    font-size: 100px;
    font-weight: 400;
    letter-spacing: 0.02em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.header-text p{
    font-size: 60px;
    font-weight: 500;
    letter-spacing: 2px;
}

.container{
    margin: 80px auto;
    width: 84%;
    max-width: 1200px;
    text-align: center;
}

.container h1{
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.join-form h1{
    margin-bottom: 20px;
}

.join-form p:nth-child(2){
    font-size: 18px;
    font-weight: 500;
    color: rgb(121, 46, 0);
    margin-bottom: 50px;
    letter-spacing: 0.02em;
}

.join-content{
    display: flex;
    justify-content: space-between;
    height: 660px;
}

.col-form-img{
    width: 25%;
}

.col-form-img img{
    width: 100%;
}

.col-form{
    width: 72%;
}

.first-line{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    text-align: left;
}

.input-row{
    text-align: left;
    margin-top: 25px;
}

.input-container{
    width: 100%;
}

.small{
    width: 48%;
}

.input-container h5{
    margin-bottom: 18px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.02em;
}

.input-box{
    display: flex;
    padding: 12.5px 20px;
    border: 1px solid rgb(121, 46, 0);
    border-radius: 20px;
}

.input-box img{
    width: 25px; height: 25px;
}

.input-box input{
    margin-left: 20px;
    width: 90%;
    outline: none;
    border: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.input-box input::placeholder{
    font-weight: 400;
    color: rgba(0, 0, 0, 0.4);
}

/* .col-form input[type="submit"]{
    margin-top: 90px;
    width: 172px;
    height: 37px;
    background-color: transparent;
    color: #EA7B14;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 15px;
    border-radius: 30px;
    border: 2px solid #EA7B14;
    transition: all 300ms ease-out 0s;
}

.col-form input[type="submit"]:hover{
    cursor: pointer;
    background-color: #EA7B14;
    color: white;
} */

.click button{
    margin-top: 90px;
    width: 172px;
    height: 37px;
    background-color: transparent;
    color: #EA7B14;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 15px;
    border-radius: 30px;
    border: 2px solid #EA7B14;
    transition: all 300ms ease-out 0s;
}

.click button:hover{
    cursor: pointer;
    background-color: #EA7B14;
    color: white;
}

.click1 button{
    margin-top: 90px;
    width: 172px;
    height: 37px;
    background-color: transparent;
    color: #EA7B14;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 15px;
    border-radius: 30px;
    border: 2px solid #EA7B14;
    transition: all 300ms ease-out 0s;
}

.click1 button:hover{
    cursor: pointer;
    background-color: #EA7B14;
    color: white;
}

.benefit h1{
    margin-bottom: 40px;
}

.benefit-container{
    display: grid;
    grid-template-areas: 'item-1 item-2 item-3';
    grid-column-gap: 70px;
    justify-content: space-between;
}

.item img{
    width: 100%;
}

.benefit-container p{
    margin: 35px 5px;
    text-align: justify;
}

@media (max-width: 1000px) {
    .member-header{
        margin-top: 70px;
    }
}

@media (max-width:800px) {
    .container h1{
        font-size: 28px;
    }
    .col-form-img{
        display: none;
    }
    .join-content{
        position: relative;
        
    }
    .col-form{
        width: 1000px;
    }
    .member-header{
        margin-top: 83px;
        position: relative;
        width: 100%;
        height: 380px;
        background-image: url(../assets/member/image_2022-06-11_18-15-36.png);
        background-position: center;
        background-size: cover;
    }
    .member-header h1{
        font-size: 50px;
        letter-spacing: 2px;
    }
    .member-header p{
        font-size: 35px;
    }
}

@media (max-width: 550px){
    .container h1{
        font-size: 24px;
    }
}

@media (max-width: 420px) {
    .container{
        margin: 60px auto;
    }

    .container h1{
        padding-bottom: 30px;
    }
}