body{
    font-family: 'Montserrat', sans-serif;
}

.navbar{
    margin: 12px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 10%;
    float: left;
    padding-top: 5px;
}

.logo img{
    width: 100%;
    height: 60px;
}

.nav-menu-center{
    float: center;
}

.nav-menu-center li{
    list-style: none;
    display: inline-block;
    padding: 0 27px;
}

.nav-menu-center li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 600;
    transition: all 300ms ease 0s;
}

.nav-menu-center li a:hover{
    color: #EA7B14;
}

.nav-menu-right{
    float: right;
}

.nav-menu-right img{
    width: 35px; height: 35px;
    padding: 0 15px;
}

.nav-menu-center .active a{
    color: #EA7B14;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}